{% extends "base.html" %}
{% block content %}
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="container auth-grid">
    <div class="auth-form">
        <img src="/static/images/free.png" alt="Login" height="200">
        <h2>Đăng nhập</h2>
        <p>Chào mừng bạn quay lại.</p>
        <form method="post">
            <div class="input-group">
                <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
            </div>
            <div class="input-group">
                <input type="submit" value="Login">
            </div>
        </form>
        {% if error %}
            <p class="auth-error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}
