{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 100%;">
    <div class="">
        <div class="">
            <h1>List Permissions</h1>
        </div>
    </div>
    <div class="pagination">
        <div id = "pagination"></div>
    </div>
    <div class="">
        <div class="">
            <table id="permissionTable" class="table sortable">
                {% if permissions %}
                <thead>
                    <th class="table__heading">STT</th>
                    <th class="table__heading">PermissionName</th>
                    <th class="table__heading">PermissionType</th>
                    <th class="table__heading">Description</th>
                    <th class="table__heading">LastUpdateDateTime</th>
                    <th class="table__heading"></th>
                    <tr>
                        <td class="table__searching"></td>
                        <td class="table__searching"><input id="PermissionName" type="text" style="width:100%" placeholder="Filter.." onchange="Search()" /></td>
                        <td class="table__searching"><input id="PermissionType" type="text" style="width:100%" placeholder="Filter.." onchange="Search()" /></td>
                        <td class="table__searching"><input id="Description" type="text" style="width:100%" placeholder="Filter.." onchange="Search()" /></td>
                        <td class="table__searching"><input id="LastUpdateDateTime" type="text" style="width:100%" placeholder="Picker.." onchange="Search()" /></td>
                        <td class="table__searching"></td>
                    </tr>
                </thead>
                <tbody id ="permissionTblBody">
                    {% for line in permissions %}
                        <tr>
                            <td class="table__content">{{ line.get('STT') }}</td>
                            <td class="table__content"><a href="{{ url_for('permission_blueprint.permission_detail', id = line.get('id')) }}">{{ line.get('PermissionName') }}</a></td>
                            <td class="table__content">{{ line.get('PermissionType') }}</td>
                            <td class="table__content">{{ line.get('Description') }}</td>
                            <td class="table__content">{{ line.get('LastUpdateDateTime') }}</td>
                            <td class="table__content"><a href="#"><i class="fa fa-trash" onclick="Delete({{line.get('id')}})"></i></a></td>
                        </tr>                            
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
            <div style="text-align: left;">
                <h4>
                    <a href="{{ url_for('permission_blueprint.permission_detail', id = 'New') }}"><i class="fa fa-plus"> Add</i></a>                    
                </h4>            
            </div>
        </div>
    </div>
    <div class="pagination">
        <div id = "pagination2"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        flatpickr("#LastUpdateDateTime", { dateFormat: "d/m/Y" });
        pagination("{{pagination.get('page')}}","{{pagination.get('total_pages')}}","{{ url_for('permission_blueprint.Permission')}}","pagination");
        pagination("{{pagination.get('page')}}","{{pagination.get('total_pages')}}","{{ url_for('permission_blueprint.Permission')}}","pagination2");
    });
    function Delete(id){
        $.ajax({
            type: "POST",
            url: "{{url_for('role_blueprint.getRoleByPermission')}}",
            data: JSON.stringify({'id': id }),
            contentType: "application/json; charset=utf-8",
            success: function (response, textStatus, jqXHR) {
                var result = confirm(response); 
                if(result)  {
                    $.post("{{url_for('permission_blueprint.permission_deletion')}}",{'id':id});
                    window.location.href = "{{url_for('permission_blueprint.Permission')}}";
                } else {
                    alert("Cancel");
                }
            }
        });
    }
    function Search(page = 1) {
        var PermissionName = document.getElementById('PermissionName').value || '';
        var PermissionType = document.getElementById('PermissionType').value || '';
        var Description = document.getElementById('Description').value || '';
        var LastUpdateDateTime = document.getElementById('LastUpdateDateTime').value || '';
        $.ajax({
            type: "POST",
            url: "{{url_for('permission_blueprint.permission_searching')}}",
            data: JSON.stringify({'page':page, 'Code': PermissionName, "PermissionType":PermissionType,'Description': Description, 'LastUpdateDateTime': LastUpdateDateTime }),
            contentType: "application/json; charset=utf-8",
            success: function (response, textStatus, jqXHR) {
                if (textStatus == "success") {
                    var k, v;
                    var permissionTblBody = '';
                    var id;
                    if (response['permissions']) {
                        for (const p of response['permissions']) {
                            permissionTblBody = permissionTblBody + '<tr>';

                            permissionTblBody += '<td class="table__content">' + p['STT'] + '</td>';
                            permissionTblBody += '<td class="table__content"><a href=' + '{{ url_for("permission_blueprint.permission_detail")}}' + '?id=' + p['id'] + '>' + p['PermissionName'] + '</a></td>';
                            permissionTblBody += '<td class="table__content">' + p['PermissionType'] + '</td>';
                            permissionTblBody += '<td class="table__content">' + (p['Description'] || '') + '</td>';
                            permissionTblBody += '<td class="table__content">' + (p['LastUpdateDateTime'] || '') + '</td>';
                            permissionTblBody += '<td class="table__content"><a href=' + '{{ url_for("permission_blueprint.permission_deletion")}}' + '?id=' + p['id'] + '><i class="fa fa-trash"></i></a></td>'
                            permissionTblBody += '</tr>';
                        }
                        
                    } else {
                        permissionTblBody = permissionTblBody + '<tr>';

                        permissionTblBody += '<td class="table__content"></td>';
                        permissionTblBody += '<td class="table__content"></td>';
                        permissionTblBody += '<td class="table__content"></td>';
                        permissionTblBody += '<td class="table__content"></td>';
                        permissionTblBody += '<td class="table__content"></td>';
                        permissionTblBody = permissionTblBody + '</tr>';

                        
                    }
                    document.getElementById("permissionTblBody").innerHTML = permissionTblBody;
                    if (response['pagination']){
                        pagination2(response['pagination']['page'],response['pagination']['total_pages'],"pagination");
                        pagination2(response['pagination']['page'],response['pagination']['total_pages'],"pagination2");
                    }
                }
            }
        });
    }
</script>

{% endblock %}
