{% extends "base.html" %}
{% block content %}
  <div class="container col-full">
    <div>              
      <i class="fa fa-arrow-circle-left" onclick="window.location.href='{{ url_for('permission_blueprint.Permission') }}'"> Back to Permissions screen</i>
    </div>
    <form id="PermissionForm" method="POST">        
        <div class="col-full">
          <h4>Permission Info</h4>
          <div class="input-group col-half">
              <div class="input-group col-xfifth">
                <label for="PermissionName"><i class="fa fa-tag col-third">Permission Name</i></label>
                {% if permission.get('PermissionName') %} 
                  <input id="PermissionName" type="text" disabled value="{{permission.get('PermissionName')}}"  placeholder="Permission Name" name="PermissionName"/>
                {% else %}
                  <input id="PermissionName" type="text"  placeholder="Permission Name" name="PermissionName"/>
                {%endif%}
              </div>
              <div class="input-group col-fifth">
                <label for="PermissionType"><i class="fa">Type</i></label>
                <select class="" name="PermissionType" id="PermissionType" placeholder="PermissionType">
                  <option value="DATA">DATA</option>
                  <option value="ROLE">ROLE</option>
                </select>
              </div>
              <div class="col-full input-group">
                <label class="" for="Description"><i class="fa fa-align-center">Description</i></label>
                <input id ="Description" type="text" value="{{permission.get('Description','')}}"  placeholder="Description" name="Description" />
              </div>
              <div class="input-group">
                <div class="col-half">
                  <i class="fa fa-history"></i>
                  <label for="LastUpdateDateTime"><i class="fa">Last Update</i></label>
                  <input id = "LastUpdateDateTime" type="text" disabled value="{{permission.get('LastUpdateDateTime','')}}"  placeholder="Last Update DateTime" name="LastUpdateDateTime" />
                </div>
                <div class="col-half">
                  <label for="LastUpdateUserName"><i class="fa">by</i></label>
                  <input id = "LastUpdateUserName" type="text" disabled value="{{permission.get('LastUpdateUserName','')}}"  placeholder="Last Update User Name" name="LastUpdateUserName" />
                </div>
              </div>
          </div>
          <div class="col-xfifth input-group">
            <label for="UrlTable"><i class="fa fa-check-circle">Access Right Table</i></label>            
            <table id="UrlTable" name="UrlTable" class="table">
            </table>
          </div>
        </div>        
        <div class="col-half input-group">          
          <div>
            <div class="col-half">
              <button type="submit"><i class="fa fa-save"> Save</i></button>
            </div>
            <div class="col-half">              
              <button type="button" onclick="window.location.href='{{ url_for('permission_blueprint.permission_detail', id = permission.get('id')) }}'"><i class="fa fa-undo"> Undo</i></button>
            </div>
          </div>
          
        </div>        
    </form>
  </div>
  <script>
    $(document).ready(function(){
      document.getElementById("PermissionType").value = "{{permission.get('PermissionType','')}}";
      $("#PermissionForm").submit(function(e) {
          var UrlTable = JSON.stringify(tableToJson(document.getElementById("UrlTable")))
          var UrlTable_base64 = btoa(UrlTable)
          $(this).append('<input type="hidden" name="UrlTable_base64" value="'+UrlTable_base64+'" />');
          return true;
      });
      const PermissionId = {{permission.get('id')}};
      $.ajax({
          type: "POST",
          url: "{{url_for('permission_blueprint.getURLbyPermission')}}",
          data: JSON.stringify({'PermissionId':PermissionId}),
          contentType: "application/json; charset=utf-8",
          success: function (response, textStatus, jqXHR) {
              if (textStatus == "success") {                  
                const UrlList = JSON.parse(response);
                var k, v;
                var UrlTable = '';
                var id;
                if (UrlList) {
                  UrlTable = UrlTable + '<thead>';
                  UrlTable = UrlTable + '<th class="table__heading" scope="col">STT</th>';
                  UrlTable = UrlTable + '<th class="table__heading" scope="col">Url</th>';
                  UrlTable = UrlTable + '<th class="table__heading" scope="col">Method</th>';
                  UrlTable = UrlTable + '<th class="table__heading" scope="col">Type</th>';
                  UrlTable = UrlTable + '<th class="table__heading" scope="col">Description</th>';
                  UrlTable = UrlTable + '</thead>';
                  for (const u of UrlList) {
                    UrlTable = UrlTable + '<tbody>';
                    UrlTable = UrlTable + '<tr>';                 
                    UrlTable = UrlTable + '<td class="table__content" data-heading="STT" scope="col">' + u['STT'] + '</td>';
                    UrlTable = UrlTable + '<td class="table__content" data-heading="Url" scope="col" contenteditable="true">' + u['url'] + '</td>';
                    UrlTable = UrlTable + '<td class="table__content" data-heading="Method" scope="col" contenteditable="true">' + u['Method'] + '</td>';
                    UrlTable = UrlTable + '<td class="table__content" data-heading="Type" scope="col" contenteditable="true">' + u['Type'] + '</td>';
                    UrlTable = UrlTable + '<td class="table__content" data-heading="Description" scope="col" contenteditable="true">' + u['Description'] + '</td>';
                    UrlTable = UrlTable + '<td class="table__content" scope="col"><a href="#"><i class="fa fa-trash"></i></a></td>'
                    UrlTable = UrlTable + '</tr>';
                    UrlTable = UrlTable + '</tbody>';                      
                  }                  
                } else {
                    console.log('')                      
                }
                document.getElementById("UrlTable").innerHTML = UrlTable;
              }
          }
      });
    });
    function tableToJson(table) {
        var data = [];
        var rows = table.rows;
        var rl = rows.length;    
        var cols = rows[0].cells;
        var coll = cols.length;

        console.log(cols)
        // first row needs to be headers
        var headers = [];
        for (var i=0; i<coll; i++) {
          col = cols[i];
          headers[i] = col.textContent;
        }    
        console.log(headers)
        // go through cells
        for (var i=1; i<rl; i++) {

            cells = rows[i].cells;
            var rowData = {};

            for (var j=0; j<coll; j++) {
                cell = cells[j]
                rowData[ headers[j] ] = cell.textContent;
                
            }
            
            data.push(rowData);
        }       
        console.log(data)
        return data;
    }
  </script>  
{% endblock %}