{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 100%;">
    <div class="">
        <div class="">
            <h1>List Roles</h1>
        </div>
    </div>
    <div class="pagination">
        <div id = "pagination"></div>
    </div>
    <div class="">
        
        <div class="">
            
            <table id="roleTable" class="table sortable">
                {% if roles %}
                <thead>
                    <th class="table__heading">STT</th>
                    <th class="table__heading">RoleName</th>
                    <th class="table__heading">Description</th>
                    <th class="table__heading">LastUpdateDateTime</th>
                    <th class="table__heading"></th>
                    <tr>
                        <td class="table__searching"></td>
                        <td class="table__searching"><input id="RoleName" type="text" style="width:100%" placeholder="Filter.." onchange="Search()" /></td>
                        <td class="table__searching"><input id="Description" type="text" style="width:100%" placeholder="Filter.." onchange="Search()" /></td>
                        <td class="table__searching"><input id="LastUpdateDateTime" type="text" style="width:100%" placeholder="Picker.." onchange="Search()" /></td>
                        <td class="table__searching"></td>
                    </tr>
                </thead>
                <tbody id="roleTblBody">
                    {% for line in roles %}
                    <tr id="{{ 'roleLine' ~ line.get('id') }}">
                        <td class="table__content">{{ line.get('STT') }}</td>
                        <td class="table__content"><a href="{{ url_for('role_blueprint.role_detail', id = line.get('id')) }}">{{ line.get('RoleName') }} <i class="fa fa-edit"></i></a></td>
                        <td class="table__content">{{ line.get('Description') }}</td>
                        <td class="table__content">{{ line.get('LastUpdateDateTime') }}</td>
                        <td class="table__content"><a href="#"><i class="fa fa-trash" onclick="Delete({{line.get('id')}})"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
            <div style="text-align: left;">
                <h4>
                    <a href="{{ url_for('role_blueprint.role_detail', id = 'New') }}"><i class="fa fa-plus"> Add</i></a>                    
                </h4>            
            </div>
            
        </div>
    </div>
    <div class="pagination">
        <div id = "pagination2"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        flatpickr("#LastUpdateDateTime", { dateFormat: "d/m/Y" });
        pagination("{{pagination.get('page')}}","{{pagination.get('total_pages')}}","{{ url_for('role_blueprint.Role')}}","pagination");
        pagination("{{pagination.get('page')}}","{{pagination.get('total_pages')}}","{{ url_for('role_blueprint.Role')}}","pagination2");
    });
    function Delete(id){
        $.ajax({
            type: "POST",
            url: "{{url_for('role_blueprint.getUserByRole')}}",
            data: JSON.stringify({'id': id }),
            contentType: "application/json; charset=utf-8",
            success: function (response, textStatus, jqXHR) {
                var result = confirm(response); 
                if(result)  {
                    $.post("{{url_for('role_blueprint.role_deletion')}}",{'id':id});
                    window.location.href = "{{url_for('role_blueprint.Role')}}";
                } else {
                    alert("Cancel");
                }
            }
        });
    }
    function Search(page = 1) {
        var RoleName = document.getElementById('RoleName').value || '';
        var Description = document.getElementById('Description').value || '';
        var LastUpdateDateTime = document.getElementById('LastUpdateDateTime').value || '';
        $.ajax({
            type: "POST",
            url: "{{url_for('role_blueprint.role_searching')}}",
            data: JSON.stringify({'page':page, 'Code': RoleName, 'Description': Description, 'LastUpdateDateTime': LastUpdateDateTime }),
            contentType: "application/json; charset=utf-8",
            success: function (response, textStatus, jqXHR) {
                if (textStatus == "success") {
                    var k, v;
                    var roleTblBody = '';
                    var id;
                    if (response['roles']) {
                        for (const r of response['roles']) {
                            roleTblBody = roleTblBody + '<tr>';

                            roleTblBody += '<td class="table__content">' + r['STT'] + '</td>';
                            roleTblBody += '<td class="table__content"><a href=' + '{{ url_for("role_blueprint.role_detail")}}' + '?id=' + r['id'] + '>' + r['RoleName'] + '</a></td>';
                            roleTblBody += '<td class="table__content">' + (r['Description'] || '') + '</td>';
                            roleTblBody += '<td class="table__content">' + (r['LastUpdateDateTime'] || '') + '</td>';
                            roleTblBody += '<td class="table__content"><a href=' + '{{ url_for("role_blueprint.role_deletion")}}' + '?id=' + r['id'] + '><i class="fa fa-trash"></i></a></td>';
                            roleTblBody += '</tr>';
                        }
                        
                    } else {
                        roleTblBody = roleTblBody + '<tr>';

                        roleTblBody = roleTblBody + '<td class="table__content" data-heading="STT" scope="col"></td>';
                        roleTblBody = roleTblBody + '<td class="table__content" data-heading="RoleName" scope="col"></td>';
                        roleTblBody = roleTblBody + '<td class="table__content" data-heading="Description" scope="col"></td>';
                        roleTblBody = roleTblBody + '<td class="table__content" data-heading="LastUpdateUserName" scope="col"></td>';
                        roleTblBody = roleTblBody + '<td class="table__content" data-heading="LastUpdateDateTime" scope="col"></td>';
                        roleTblBody = roleTblBody + '</tr>';

                        
                    }
                    document.getElementById("roleTblBody").innerHTML = roleTblBody;
                    if (response['pagination']){
                        pagination2(response['pagination']['page'],response['pagination']['total_pages'],"pagination");
                        pagination2(response['pagination']['page'],response['pagination']['total_pages'],"pagination2");
                    }
                }
            }
        });
    }
</script>

{% endblock %}
